@import './color';
@import './fonts';


.btn{
    background-color: $primaryClr;
    width: 100%;
    padding: 20px 40px;
    border: 1px solid $primaryClr;
    color: $constantWhite;
}

.topnavwrap a.active{
    color: $primaryClr;
}

.card{
    background: $cardBackground; 
    box-shadow: 0 1px 7px 0 $boxShadow;
}

.card{
    padding: 14px 16px;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center; 
    border-radius: 8px; 
} 
.cardrow{
display: flex;
}
.cardrow >div{
    flex: 1;
   
}