.App {
  text-align: center;
}
.warpboxauth{
  display: inline-block;
    word-wrap: break-word;
    width: 500px;
}

.mainwraper{
  padding: 20px;
}
.wrpaerlayout{
  display: flex;
}

.wrpaerlayout > div{
  flex: 1;
  text-align: left;
}


@keyframes fadeInUp{

  0%{
  opacity:0;
  -webkit-transform:translate3d(0,100%,0);
   transform:translate3d(0,100%,0)
  }
 100%{
      opacity:1;
      -webkit-transform:translateZ(0);
              transform:translateZ(0)
  }
}
.animate__fadeInUp:hover{
  -webkit-animation-name:fadeInUp;
  animation-name:fadeInUp;  
   animation-duration: 0.7s;
  animation-delay: 2s;
}